<div class="projects">
    <h1 class="heading">
        My Projects
    </h1>
    <div class="projects__wrapper">

    
    <app-project
[name]="'The Nov Programming Language'"
[description]="'A very simple programming langauge that transpiles to JavaScript'"
[githubLink]="'https://www.github.com/maciejoliwa/nov'"
[technologies]="[ 'Python', 'Node.js', 'JavaScript' ]"
>

</app-project>
<app-project
[name]="'The Nov Programming Language'"
[description]="'A very simple programming langauge that transpiles to JavaScript'"
[githubLink]="'https://www.github.com/maciejoliwa/nov'"
[technologies]="[ 'Python', 'Node.js', 'JavaScript' ]"
>

</app-project>
<app-project
[name]="'The Nov Programming Language'"
[description]="'A very simple programming langauge that transpiles to JavaScript'"
[githubLink]="'https://www.github.com/maciejoliwa/nov'"
[technologies]="[ 'Python', 'Node.js', 'JavaScript' ]"
>

</app-project>
</div>
</div>