<div class="projects" id="projects">
    <h1 class="heading">
        My Projects
    </h1>
    <div class="projects__wrapper">

    
    <app-project
[name]="'The Nov Programming Language'"
[description]="'A very simple programming language that transpiles to JavaScript'"
[githubLink]="'https://www.github.com/maciejoliwa/nov'"
[technologies]="[ 'Python', 'Node.js', 'JavaScript' ]"
>

</app-project>
<app-project
[name]="'Harceli'"
[description]="'a JavaScript library helpful with automating working with files'"
[githubLink]="'https://github.com/maciejoliwa/harceli'"
[technologies]="[ 'Node.js', 'JavaScript' ]"
>

</app-project>
<app-project
[name]="'Comments Lister'"
[description]="'a small program that displays all comments in the given application codebase'"
[githubLink]="'https://github.com/maciejoliwa/comments-lister'"
[technologies]="[ 'Rust' ]"
>

</app-project>
<app-project
[name]="'Jsonifable'"
[description]="'Python library that helps with converting custom datatypes to valid JSON'"
[githubLink]="'https://github.com/maciejoliwa/jsonifable'"
[technologies]="[ 'Python' ]"
>

</app-project>
<app-project
[name]="'Show Todos'"
[description]="'A Clojure program, that lists all TODO comments in codebase'"
[githubLink]="'https://github.com/maciejoliwa/show-todos'"
[technologies]="[ 'Clojure', 'Java' ]"
>

</app-project>
<app-project
[name]="'Web Language Interpreter'"
[description]="'Interpreter for a simple assembly-like language'"
[githubLink]="'https://github.com/maciejoliwa/web-language-interpreter'"
[technologies]="[ 'JavaScript' ]"
>

</app-project>
</div>
</div>