.projects {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.heading {
    font-size: 3rem;
    color: #FF6392;
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
}

.projects__wrapper {
    display: grid;
    margin-top: 10px;
    gap: 10px;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(3, 200px);
}

@media only screen and (min-width: 300px) and (max-width: 800px) {
    .projects__wrapper {
        grid-template-columns: 300px;
        grid-template-rows: repeat(6, 200px);
    }
}

@media only screen and (min-width: 800px) and (max-width: 1100px) {
    .projects__wrapper {
        grid-template-columns: repeat(2, 300px);
        grid-template-rows: repeat(6, 200px);
    }
}