.hero {
    width: 100vw;
    height: 100vh;
    color: #FF6392;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
}

.hero__text {
    font-size: 5rem;
    animation: appearBigHeroText 0.6s both;
    font-weight: bolder;
}

.hero__text--small {
    animation: appearSmallHeroText 0.6s 0.4s both;
    font-size: 1.5rem;
    font-weight: normal;
}

.buttons {
    margin-top: 25px;
    animation: appearButtons 0.4s 0.8s both;
}

.cta {
    border: 4px solid #5AA9E6;
    padding: 15px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
    background-color: white;
    color: #5AA9E6;
    cursor: pointer;
    transition: 0.2s;
}

.cta:hover {
    transform: translateY(-5px);
    background-color: #FF6392;
    border-color: #FF6392;
    color: white;
}

.cta:last-child {
    margin-left: 10px;
}

@media only screen and (max-width: 600px) {
    .hero__text {
        text-align: center;
        font-size: 2.5rem;
    }
    .hero__text--small {
        font-size: 0.9rem;
    }

    .cta {
        padding: 8px;
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 800px) {
    .hero__text {
        text-align: center;
    }
}


@keyframes appearBigHeroText {
    from {
        transform: translateX(-20px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes appearSmallHeroText {
    from {
        transform: translateX(50px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes appearButtons {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}