.skills {
    width: 100vw;
    height: 100vh;
    color: #FF6392;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
}

.skills__text {
    font-size: 4rem;
    font-weight: bolder;
}

p {
    font-size: 1.5rem;
}

.all-skills {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(6, 60px);
    gap: 55px;
    grid-template-rows: repeat(2, 80px);
}

.image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.image-wrapper:hover {
    transform: scale(1.1);
}

.all-skills img {
    width: 100%;
}

@media only screen and (min-width: 300px) and (max-width: 1000px) {
    .all-skills {
        margin-top: 35px;
        display: grid;
        grid-template-columns: repeat(4, 45px);
        gap: 25px;
        grid-template-rows: repeat(4, 50px);
    }

    .skills__text {
        font-size: 2.5rem;
        text-align: center;
    }
    
    p {
        font-size: 0.6rem;
        
    }
}


@media only screen and (min-width: 1000px) and (max-width: 1500px) {
    .all-skills {
        margin-top: 85px;
        display: grid;
        grid-template-columns: repeat(4, 70px);
        gap: 55px;
        grid-template-rows: repeat(4, 40px);
    }

    .skills__text {
        font-size: 3rem;
        text-align: center;
    }
    
    p {
        font-size: 1rem;
        
    }
}
