<section class="skills">
    <div class="skills__text" data-aos="fade-up" data-aos-duration="500">
        What are my skills?
    </div>
    <p>
        These are the technologies that I feel most comfortable working with
    </p>
    <div class="all-skills">
        <div class="image-wrapper">
            <img src="/assets/angular.png" alt="">
        </div>
        <div class="image-wrapper">
            <img src="/assets/ts.png" alt="">
        </div>
        <div class="image-wrapper">
            <img src="/assets/css.png" alt="">
        </div>
        <div class="image-wrapper">
            <img src="/assets/html.png" alt="">
        </div>
        <div class="image-wrapper">
            <img src="/assets/express.png" alt="">
        </div>
        <div class="image-wrapper">
            <img src="/assets/node.png" alt="">
        </div>
        <div class="image-wrapper">
            <img src="/assets/python.png" alt="">
        </div>
        <div class="image-wrapper">
            <img src="/assets/flask.png" alt="">
        </div>
        <div class="image-wrapper">
            <img src="/assets/mongo.png" alt="">
        </div>
        <div class="image-wrapper">
            <img src="/assets/jest.png" alt="">
        </div>
        <div class="image-wrapper">
            <img src="/assets/selenium.png" alt="">
        </div>
        <div class="image-wrapper">
            <img src="/assets/playwright.png" alt="">
        </div>

    </div>
</section>
