.project {
    background-color: rgb(233, 233, 233);
    border-radius: 5px;
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 200px;
}

.project__name {
    font-family: 'Oswald', sans-serif;
    color: #FF6392;
    font-size: 1.2rem;
    font-weight: bold;
}

.project__description {
    font-family: sans-serif;
    margin-top: 5px;
}

.project__technologies { 
    margin-top: 5px;
    color: gray;
    font-family: sans-serif;
}

.project__technology {
    display: inline;
}

.project a {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    text-decoration: none;
    gap: 10px;
    align-items: center;

    border: 4px solid #5AA9E6;
    padding: 10px 5px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;

    width: 50%;
    font-weight: bold;
    background-color: white;
    color: #5AA9E6;
    cursor: pointer;
    transition: 0.2s;
}

.project a:hover {
    background-color: #FF6392;
    border-color: #FF6392;
    color: white;
}