/* You can add global styles to this file, and also import other style files */
body {
    background-color: #F7FFF7;
    margin: 0;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
  }

* {
    box-sizing: border-box;
    margin: 0;
}